<!-- FORMAT EJS digunakan agar data yang ada di dalam sql dapat dipakai di html-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utang Piutang KOS TadikaMesra</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@400;500;700&family=PT+Serif:wght@400;700&family=Poppins:wght@400;500;700&display=swap"
        rel="stylesheet">

    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>

<body>
    <div class="container">
        <!-- data berikut berasal dari backend -->
        <!-- klo single datanya pake %= -->
        <h1 style="text-align: center;">
           Deployment <%= title %>
        </h1>
        <h3 style="margin-top: 10px;">Masukkan data Pembayaran</h3>



        <p style="margin-top: 20px;"> <b> Apa yang dibayar? </b></p>
        <button style="margin-top: 10px;" type="submit" class="btn btn-dark" id="Listrik">Listrik</button>
        <button style="margin-top: 10px;" type="button" class="btn btn-dark" id="Wifi">Wifi</button>
        <button style="margin-top: 10px;" type="button" class="btn btn-dark" id="Beras">Beras</button>
        <button style="margin-top: 10px;" type="button" class="btn btn-dark" id="AirGalon">Air Galon</button>
        <button style="margin-top: 10px;" type="button" class="btn btn-dark" id="Gas">Gas</button>
        <button style="margin-top: 10px;" type="button" class="btn btn-dark" id="SabunCuciPiring">Sabun Cuci
            Piring</button>
        <button style="margin-top: 10px;" type="submit" class="btn btn-dark" id="Minyak">Minyak</button>
        <button style="margin-top: 10px;" type="submit" class="btn btn-dark" id="Lainnya">Lainnya</button>
        <hr />

        <div id="containerGantiGanti" class="container">
            <p>Silahkan pilih apa yang dibayar</p>
        </div>

        <h2 style="margin-top: 50px;">History Pembayaran selama ....</h2>
        <div style="margin-bottom:20px;">
            <a><b> Dari </b></a>
            <input style="width: 5%;  margin-left:1%;" placeholder="Tanggal" type="text" id="dariTanggal">
            <input style="width: 5%;  margin-left:0,5%;" placeholder="Bulan" type="text" id="dariBulan">
            <input style="width: 5%;margin-left:0,5%; margin-right:1%;" placeholder="Tahun" type="text" id="dariTahun">
            <a><b> Sampai </b></a>
            <input style="width: 5%;  margin-left:1%;" placeholder="Tanggal" type="text" id="sampaiTanggal">
            <input style="width: 5%;  margin-left:0,5%;" placeholder="Bulan" type="text" id="sampaiBulan">
            <input style="width: 5%;margin-left:0,5%;" placeholder="Tahun" type="text" id="sampaiTahun">
            <button class="btn btn-dark" type="submit" id="cariDataa" onclick="cariData()">Cari</button>
        </div>

        <table id="tableSemuaData" class="table">
            <thead>
                <tr>

                    <th scope="col">Si Pembayar</th>
                    <th scope="col">Bayar Apa?</th>
                    <th scope="col">Total Bayar</th>
                    <th scope="col">(%)Pafras</th>
                    <th scope="col">(%)Hadad</th>
                    <th scope="col">(%)Faldi</th>
                    <th scope="col">(%)Athailah</th>
                    <th scope="col">Waktu Bayar</th>
                </tr>
            </thead>
            <tbody>

                <% for (let DataBayar of data) { %>
                    <tr>
                        <th scope="row">
                            <%= DataBayar.siPembayar %>
                        </th>
                        <td>
                            <%= DataBayar.bayarApa %>
                        </td>
                        <td>
                            <%= DataBayar.totalBayar %>
                        </td>
                        <td>
                            <%= DataBayar.persenPafras %>
                        </td>
                        <td>
                            <%= DataBayar.persenHadad %>
                        </td>
                        <td>
                            <%= DataBayar.persenFaldi %>
                        </td>
                        <td>
                            <%= DataBayar.persenAthailah %>
                        </td>
                        <td>
                            <%= DataBayar.tanggal %>-<%= DataBayar.bulan %>-<%= DataBayar.tahun %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
            <thead>
                <tr>
                    <th scope="col">Total Pengeluaran</th>
                    <th scope="col"></th>
                    <th scope="col" id="totalPengeluaran"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
        </table>


    </div>

    <div style="margin-top: 30px;" class="container">
        <h2>Perhitungan Utang Piutang</h2>
        <div class="container">
            <p>Keterangan :</p>
            <ul style="margin-top: -20px;">
                <li>(-) artinya Utang</li>
                <li>(+) artinya Piutang</li>
            </ul>
            <h5>Pafras</h5>
            <ul>
                <li id="totalAkhirPafrasHadad"></li>
                <li id="totalAkhirPafrasFaldi"></li>
                <li id="totalAkhirPafrasAthailah"></li>
            </ul>
            <h5>Hadad</h5>
            <ul>
                <li id="totalAkhirPafrasHadad2"></li>
                <li id="totalAkhirHadadFaldi"></li>
                <li id="totalAkhirHadadAthailah"></li>
            </ul>
            <h5>Faldi</h5>
            <ul>
                <li id="totalAkhirPafrasFaldi2"></li>
                <li id="totalAkhirHadadFaldi2"></li>
                <li id="totalAkhirFaldiAthaillah"></li>
            </ul>
            <h5>Athailah</h5>
            <ul>
                <li id="totalAkhirPafrasAthailah2"></li>
                <li id="totalAkhirHadadAthailah2"></li>
                <li id="totalAkhirFaldiAthaillah2"></li>
            </ul>
        </div>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script type="text/javascript">

        // Hitung Total Semua pembayaran
        var jumlah = 0;
            <% for (let DataBayar of data) { %>
            jumlah = jumlah + <%= DataBayar.totalBayar %>;
            <% } %>
        const x = document.getElementById("totalPengeluaran");
        x.innerHTML = jumlah;

        // Hitung Pafras bayar ke yg lain
        //1. Hadad
        var TotalBayarHadad;
        var persentasePafras;
        var totalUtangPafrasHadad = 0;
        <% for (let DataBayar of data) { %>
            if ('<%= DataBayar.siPembayar %>' == 'Hadad') {
                persentasePafras = <%= DataBayar.totalBayar %> * <%= DataBayar.persenPafras %> / 100;
                totalUtangPafrasHadad = totalUtangPafrasHadad + persentasePafras;
            }
        <% } %>
        var TotalBayarPafras;
        var persentaseHadad;
        var totalUtangHadadPafras = 0;
        <% for (let DataBayar of data) { %>
            if ('<%= DataBayar.siPembayar %>' == 'Pafras') {
                persentaseHadad = <%= DataBayar.totalBayar %> * <%= DataBayar.persenHadad %> / 100;
                totalUtangHadadPafras = totalUtangHadadPafras + persentaseHadad;
            }
        <% } %>

        var totalAkhirPafrasHadad = totalUtangHadadPafras - totalUtangPafrasHadad;

        if (totalAkhirPafrasHadad <= 0) {
            document.getElementById("totalAkhirPafrasHadad").innerHTML = '<a> Pafras punya utang ke Hadad sebesar Rp.</a>' + (-1 * totalAkhirPafrasHadad);
            document.getElementById("totalAkhirPafrasHadad2").innerHTML = '<a> Pafras punya utang ke Hadad sebesar Rp.</a>' + (-1 * totalAkhirPafrasHadad);
        } else {
            document.getElementById("totalAkhirPafrasHadad").innerHTML = '<a> Hadad punya utang ke Pafras sebesar Rp.</a>' + totalAkhirPafrasHadad;
            document.getElementById("totalAkhirPafrasHadad2").innerHTML = '<a> Hadad punya utang ke Pafras sebesar Rp.</a>' + totalAkhirPafrasHadad;
        }


        //2. Faldi
        var TotalBayarFaldi;
        var persentasePafras;
        var totalUtangPafrasFaldi = 0;
        <% for (let DataBayar of data) { %>
            if ('<%= DataBayar.siPembayar %>' == 'Faldi') {
                persentasePafras = <%= DataBayar.totalBayar %> * <%= DataBayar.persenPafras %> / 100;
                totalUtangPafrasFaldi = totalUtangPafrasFaldi + persentasePafras;
            }
        <% } %>
        var TotalBayarPafras;
        var persentaseFaldi;
        var totalUtangFaldiPafras = 0;
        <% for (let DataBayar of data) { %>
            if ('<%= DataBayar.siPembayar %>' == 'Pafras') {
                persentaseFaldi = <%= DataBayar.totalBayar %> * <%= DataBayar.persenFaldi %> / 100;
                totalUtangFaldiPafras = totalUtangFaldiPafras + persentaseFaldi;
            }
        <% } %>

        var totalAkhirPafrasFaldi = totalUtangFaldiPafras - totalUtangPafrasFaldi;
        document.getElementById("totalAkhirPafrasFaldi").innerHTML = totalAkhirPafrasFaldi;

        if (totalAkhirPafrasFaldi <= 0) {
            document.getElementById("totalAkhirPafrasFaldi").innerHTML = '<a> Pafras punya utang ke Faldi sebesar Rp.</a>' + (-1 * totalAkhirPafrasFaldi);
            document.getElementById("totalAkhirPafrasFaldi2").innerHTML = '<a> Pafras punya utang ke Faldi sebesar Rp.</a>' + (-1 * totalAkhirPafrasFaldi);
        } else {
            document.getElementById("totalAkhirPafrasFaldi").innerHTML = '<a> Faldi punya utang ke Pafras sebesar Rp.</a>' + totalAkhirPafrasFaldi;
            document.getElementById("totalAkhirPafrasFaldi2").innerHTML = '<a> Faldi punya utang ke Pafras sebesar Rp.</a>' + totalAkhirPafrasFaldi;
        }


        //3. Athailah
        var TotalBayarAthailah;
        var persentasePafras;
        var totalUtangPafrasAthailah = 0;
        <% for (let DataBayar of data) { %>
            if ('<%= DataBayar.siPembayar %>' == 'Athailah') {
                persentasePafras = <%= DataBayar.totalBayar %> * <%= DataBayar.persenPafras %> / 100;
                totalUtangPafrasAthailah = totalUtangPafrasAthailah + persentasePafras;
            }
        <% } %>
        var TotalBayarPafras;
        var persentaseAthailah;
        var totalUtangAthailahPafras = 0;
        <% for (let DataBayar of data) { %>
            if ('<%= DataBayar.siPembayar %>' == 'Pafras') {
                persentaseAthailah = <%= DataBayar.totalBayar %> * <%= DataBayar.persenAthailah %> / 100;
                totalUtangAthailahPafras = totalUtangAthailahPafras + persentaseAthailah;


            }
        <% } %>

        var totalAkhirPafrasAthailah = totalUtangAthailahPafras - totalUtangPafrasAthailah;
        document.getElementById("totalAkhirPafrasAthailah").innerHTML = totalAkhirPafrasAthailah;

        if (totalAkhirPafrasAthailah <= 0) {
            document.getElementById("totalAkhirPafrasAthailah").innerHTML = '<a> Pafras punya utang ke Athailah sebesar Rp.</a>' + (-1 * totalAkhirPafrasAthailah);
            document.getElementById("totalAkhirPafrasAthailah2").innerHTML = '<a> Pafras punya utang ke Athailah sebesar Rp.</a>' + (-1 * totalAkhirPafrasAthailah);
        } else {
            document.getElementById("totalAkhirPafrasAthailah").innerHTML = '<a> Athailah punya utang ke Pafras sebesar Rp.</a>' + totalAkhirPafrasAthailah;
            document.getElementById("totalAkhirPafrasAthailah2").innerHTML = '<a> Athailah punya utang ke Pafras sebesar Rp.</a>' + totalAkhirPafrasAthailah;
        }




        // Hitung Hadad bayar ke yg lain

        //2. Faldi
        var TotalBayarFaldi;
        var persentaseHadad;
        var totalUtangHadadFaldi = 0;
        <% for (let DataBayar of data) { %>
            if ('<%= DataBayar.siPembayar %>' == 'Faldi') {
                persentaseHadad = <%= DataBayar.totalBayar %> * <%= DataBayar.persenHadad %> / 100;
                totalUtangHadadFaldi = totalUtangHadadFaldi + persentaseHadad;
            }
        <% } %>
        var TotalBayarHadad;
        var persentaseFaldi;
        var totalUtangFaldiHadad = 0;
        <% for (let DataBayar of data) { %>
            if ('<%= DataBayar.siPembayar %>' == 'Hadad') {
                persentaseFaldi = <%= DataBayar.totalBayar %> * <%= DataBayar.persenFaldi %> / 100;
                totalUtangFaldiHadad = totalUtangFaldiHadad + persentaseFaldi;
            }
        <% } %>

        var totalAkhirHadadFaldi = totalUtangFaldiHadad - totalUtangHadadFaldi;
        document.getElementById("totalAkhirHadadFaldi").innerHTML = totalAkhirHadadFaldi;

        if (totalAkhirHadadFaldi <= 0) {
            document.getElementById("totalAkhirHadadFaldi").innerHTML = '<a> Hadad punya utang ke Faldi sebesar Rp.</a>' + (-1 * totalAkhirHadadFaldi);
            document.getElementById("totalAkhirHadadFaldi2").innerHTML = '<a> Hadad punya utang ke Faldi sebesar Rp.</a>' + (-1 * totalAkhirHadadFaldi);
        } else {
            document.getElementById("totalAkhirHadadFaldi").innerHTML = '<a> Faldi punya utang ke Hadad sebesar Rp.</a>' + totalAkhirHadadFaldi;
            document.getElementById("totalAkhirHadadFaldi2").innerHTML = '<a> Faldi punya utang ke Hadad sebesar Rp.</a>' + totalAkhirHadadFaldi;
        }


        //3. Athailah
        var TotalBayarAthailah;
        var persentaseHadad;
        var totalUtangHadadAthailah = 0;
        <% for (let DataBayar of data) { %>
            if ('<%= DataBayar.siPembayar %>' == 'Athailah') {
                persentaseHadad = <%= DataBayar.totalBayar %> * <%= DataBayar.persenHadad %> / 100;
                totalUtangHadadAthailah = totalUtangHadadAthailah + persentaseHadad;
            }
        <% } %>
        var TotalBayarHadad;
        var persentaseAthailah;
        var totalUtangAthailahHadad = 0;
        <% for (let DataBayar of data) { %>
            if ('<%= DataBayar.siPembayar %>' == 'Hadad') {
                persentaseAthailah = <%= DataBayar.totalBayar %> * <%= DataBayar.persenAthailah %> / 100;
                totalUtangAthailahHadad = totalUtangAthailahHadad + persentaseHadad;
            }
        <% } %>

        var totalAkhirHadadAthailah = totalUtangAthailahHadad - totalUtangHadadAthailah;
        document.getElementById("totalAkhirHadadAthailah").innerHTML = totalAkhirHadadAthailah;

        if (totalAkhirPafrasAthailah <= 0) {
            document.getElementById("totalAkhirHadadAthailah").innerHTML = '<a> Hadad punya utang ke Athailah sebesar Rp.</a>' + (-1 * totalAkhirHadadAthailah);
            document.getElementById("totalAkhirHadadAthailah2").innerHTML = '<a> Hadad punya utang ke Athailah sebesar Rp.</a>' + (-1 * totalAkhirHadadAthailah);
        } else {
            document.getElementById("totalAkhirHadadAthailah").innerHTML = '<a> Athailah punya utang ke Hadad sebesar Rp.</a>' + totalAkhirHadadAthailah;
            document.getElementById("totalAkhirHadadAthailah2").innerHTML = '<a> Athailah punya utang ke Hadad sebesar Rp.</a>' + totalAkhirHadadAthailah;
        }


        // Hitung Faldi bayar ke yg lain
        //1. athailah
        var TotalBayarAthailah;
        var persentaseFaldi;
        var totalUtangAthailahFaldi = 0;
        <% for (let DataBayar of data) { %>
            if ('<%= DataBayar.siPembayar %>' == 'Athailah') {
                persentaseAthailah = <%= DataBayar.totalBayar %> * <%= DataBayar.persenFaldi %> / 100;
                totalUtangAthailahFaldi = totalUtangAthailahFaldi + persentaseAthailah;
            }
        <% } %>
        var TotalBayarFaldi;
        var persentaseAthailah;
        var totalUtangFaldiAthailah = 0;
        <% for (let DataBayar of data) { %>
            if ('<%= DataBayar.siPembayar %>' == 'Faldi') {
                persentaseFaldi = <%= DataBayar.totalBayar %> * <%= DataBayar.persenAthailah %> / 100;
                totalUtangFaldiAthailah = totalUtangFaldiAthailah + persentaseFaldi;
            }
        <% } %>

        var totalAkhirFaldiAthailah = totalUtangFaldiAthailah - totalUtangAthailahFaldi;

        if (totalAkhirFaldiAthailah <= 0) {
            document.getElementById("totalAkhirFaldiAthaillah").innerHTML = '<a> Faldi punya utang ke Athailah sebesar Rp.</a>' + (-1 * totalAkhirFaldiAthailah);
            document.getElementById("totalAkhirFaldiAthaillah2").innerHTML = '<a> Faldi punya utang ke Athailah sebesar Rp.</a>' + (-1 * totalAkhirFaldiAthailah);

        } else {
            document.getElementById("totalAkhirFaldiAthaillah").innerHTML = '<a> Athailah punya utang ke Faldi sebesar Rp.</a>' + totalAkhirFaldiAthailah;
            document.getElementById("totalAkhirFaldiAthaillah2").innerHTML = '<a> Athailah punya utang ke Faldi sebesar Rp.</a>' + totalAkhirFaldiAthailah;

        }


        document.getElementById("Listrik").onclick = function () {
            document.getElementById("containerGantiGanti").innerHTML = '<form action="/tambah" method="post"><p style="margin-top: 20px;"> <b> Siapa yang bayar Listrik? </b></p><div><select class="form-select" name="siPembayar"><option value="Pafras">Pafras</option><option value="Hadad">Hadad</option><option value="Faldi">Faldi</option><option value="Athailah">Athailah</option></select><p style="margin-top: 20px;"> <b> Total Pembayaran Listrik</b></p><input style="margin-top: 20px;" type="text" name="totalBayar" class="form-control"><div><p style="margin-top: 20px;"> <b>Persentase Pembagian Listrik</b></p><table class="table" style="margin-bottom: 30px;"><tbody><tr><td> <b>Pafras</b> </td><td><b>Hadad</b></td><td> <b>Faldi</b> </td><td> <b>Athailah</b></td></tr><tr><td><input style="margin-right: 5%; width: 40%;" name="persenPafras" type="text">%</td><td><input style="margin-right: 5%; width: 40%;" name="persenHadad" type="text">%</td><td><input style="margin-right: 5%; width: 40%;" name="persenFaldi" type="text">%</td><td><input style="margin-right: 5%; width: 40%;" name="persenAthailah" type="text">%</td></tr></tbody></table><a><b> Tanggal Bayar </b></a><input style="width: 5%; margin-left:1%;" placeholder="Tanggal" type="text" name="tanggal"><input style="width: 5%;  margin-left:1%;" placeholder="Bulan" type="text" name="bulan"><input style="width: 5%;margin-left:1%;" placeholder="Tahun" type="text" name="tahun"><br/><button name="button" value="Listrik" type="submit" class="btn btn-primary" style="margin-top: 20px;">Masukkan Data</button></div></div></form>';
        }
        document.getElementById("Wifi").onclick = function () {
            document.getElementById("containerGantiGanti").innerHTML = '<form action="/tambah" method="post"><p style="margin-top: 20px;"> <b> Siapa yang bayar Wifi? </b></p><div><select class="form-select" name="siPembayar"><option value="Pafras">Pafras</option><option value="Hadad">Hadad</option><option value="Faldi">Faldi</option><option value="Athailah">Athailah</option></select><p style="margin-top: 20px;"> <b> Total Pembayaran Wifi</b></p><input style="margin-top: 20px;" type="text" name="totalBayar" class="form-control"><div><p style="margin-top: 20px;"> <b>Persentase Pembagian Wifi</b></p><table class="table" style="margin-bottom: 30px;"><tbody><tr><td> <b>Pafras</b> </td><td><b>Hadad</b></td><td> <b>Faldi</b> </td><td> <b>Athailah</b></td></tr><tr><td><input style="margin-right: 5%; width: 40%;" name="persenPafras" type="text">%</td><td><input style="margin-right: 5%; width: 40%;" name="persenHadad" type="text">%</td><td><input style="margin-right: 5%; width: 40%;" name="persenFaldi" type="text">%</td><td><input style="margin-right: 5%; width: 40%;" name="persenAthailah" type="text">%</td></tr></tbody></table><a><b> Tanggal Bayar </b></a><input style="width: 5%; margin-left:1%;" placeholder="Tanggal" type="text" name="tanggal"><input style="width: 5%;  margin-left:1%;" placeholder="Bulan" type="text" name="bulan"><input style="width: 5%;margin-left:1%;" placeholder="Tahun" type="text" name="tahun"><br/><button name="button" value="Wifi" type="submit" class="btn btn-primary" style="margin-top: 20px;">Masukkan Data</button></div></div></form>';
        }
        document.getElementById("Beras").onclick = function () {
            document.getElementById("containerGantiGanti").innerHTML = '<form action="/tambah" method="post"><p style="margin-top: 20px;"> <b> Siapa yang bayar Beras? </b></p><div><select class="form-select" name="siPembayar"><option value="Pafras">Pafras</option><option value="Hadad">Hadad</option><option value="Faldi">Faldi</option><option value="Athailah">Athailah</option></select><p style="margin-top: 20px;"> <b> Total Pembayaran Beras</b></p><input style="margin-top: 20px;" type="text" name="totalBayar" class="form-control"><div><p style="margin-top: 20px;"> <b>Persentase Pembagian Beras</b></p><table class="table" style="margin-bottom: 30px;"><tbody><tr><td> <b>Pafras</b> </td><td><b>Hadad</b></td><td> <b>Faldi</b> </td><td> <b>Athailah</b></td></tr><tr><td><input style="margin-right: 5%; width: 40%;" name="persenPafras" type="text">%</td><td><input style="margin-right: 5%; width: 40%;" name="persenHadad" type="text">%</td><td><input style="margin-right: 5%; width: 40%;" name="persenFaldi" type="text">%</td><td><input style="margin-right: 5%; width: 40%;" name="persenAthailah" type="text">%</td></tr></tbody></table><a><b> Tanggal Bayar </b></a><input style="width: 5%; margin-left:1%;" placeholder="Tanggal" type="text" name="tanggal"><input style="width: 5%;  margin-left:1%;" placeholder="Bulan" type="text" name="bulan"><input style="width: 5%;margin-left:1%;" placeholder="Tahun" type="text" name="tahun"><br/><button name="button" value="Beras" type="submit" class="btn btn-primary" style="margin-top: 20px;">Masukkan Data</button></div></div></form>';
        }
        document.getElementById("AirGalon").onclick = function () {
            document.getElementById("containerGantiGanti").innerHTML = '<form action="/tambah" method="post"><p style="margin-top: 20px;"> <b> Siapa yang bayar Air Galon? </b></p><div><select class="form-select" name="siPembayar"><option value="Pafras">Pafras</option><option value="Hadad">Hadad</option><option value="Faldi">Faldi</option><option value="Athailah">Athailah</option></select><p style="margin-top: 20px;"> <b> Total Pembayaran Air Galon</b></p><input style="margin-top: 20px;" type="text" name="totalBayar" class="form-control"><div><p style="margin-top: 20px;"> <b>Persentase Pembagian Air Galon</b></p><table class="table" style="margin-bottom: 30px;"><tbody><tr><td> <b>Pafras</b> </td><td><b>Hadad</b></td><td> <b>Faldi</b> </td><td> <b>Athailah</b></td></tr><tr><td><input style="margin-right: 5%; width: 40%;" name="persenPafras" type="text">%</td><td><input style="margin-right: 5%; width: 40%;" name="persenHadad" type="text">%</td><td><input style="margin-right: 5%; width: 40%;" name="persenFaldi" type="text">%</td><td><input style="margin-right: 5%; width: 40%;" name="persenAthailah" type="text">%</td></tr></tbody></table><a><b> Tanggal Bayar </b></a><input style="width: 5%; margin-left:1%;" placeholder="Tanggal" type="text" name="tanggal"><input style="width: 5%;  margin-left:1%;" placeholder="Bulan" type="text" name="bulan"><input style="width: 5%;margin-left:1%;" placeholder="Tahun" type="text" name="tahun"><br/><button name="button" value="AirGalon" type="submit" class="btn btn-primary" style="margin-top: 20px;">Masukkan Data</button></div></div></form>';
        }
        document.getElementById("Gas").onclick = function () {
            document.getElementById("containerGantiGanti").innerHTML = '<form action="/tambah" method="post"><p style="margin-top: 20px;"> <b> Siapa yang bayar Gas? </b></p><div><select class="form-select" name="siPembayar"><option value="Pafras">Pafras</option><option value="Hadad">Hadad</option><option value="Faldi">Faldi</option><option value="Athailah">Athailah</option></select><p style="margin-top: 20px;"> <b> Total Pembayaran Gas</b></p><input style="margin-top: 20px;" type="text" name="totalBayar" class="form-control"><div><p style="margin-top: 20px;"> <b>Persentase Pembagian Gas</b></p><table class="table" style="margin-bottom: 30px;"><tbody><tr><td> <b>Pafras</b> </td><td><b>Hadad</b></td><td> <b>Faldi</b> </td><td> <b>Athailah</b></td></tr><tr><td><input style="margin-right: 5%; width: 40%;" name="persenPafras" type="text">%</td><td><input style="margin-right: 5%; width: 40%;" name="persenHadad" type="text">%</td><td><input style="margin-right: 5%; width: 40%;" name="persenFaldi" type="text">%</td><td><input style="margin-right: 5%; width: 40%;" name="persenAthailah" type="text">%</td></tr></tbody></table><a><b> Tanggal Bayar </b></a><input style="width: 5%; margin-left:1%;" placeholder="Tanggal" type="text" name="tanggal"><input style="width: 5%;  margin-left:1%;" placeholder="Bulan" type="text" name="bulan"><input style="width: 5%;margin-left:1%;" placeholder="Tahun" type="text" name="tahun"><br/><button name="button" value="Gas" type="submit" class="btn btn-primary" style="margin-top: 20px;">Masukkan Data</button></div></div></form>';
        }
        document.getElementById("SabunCuciPiring").onclick = function () {
            document.getElementById("containerGantiGanti").innerHTML = '<form action="/tambah" method="post"><p style="margin-top: 20px;"> <b> Siapa yang bayar Sabun Cuci Piring? </b></p><div><select class="form-select" name="siPembayar"><option value="Pafras">Pafras</option><option value="Hadad">Hadad</option><option value="Faldi">Faldi</option><option value="Athailah">Athailah</option></select><p style="margin-top: 20px;"> <b> Total Pembayaran Sabun Cuci Piring</b></p><input style="margin-top: 20px;" type="text" name="totalBayar" class="form-control"><div><p style="margin-top: 20px;"> <b>Persentase Pembagian Sabun Cuci Piring</b></p><table class="table" style="margin-bottom: 30px;"><tbody><tr><td> <b>Pafras</b> </td><td><b>Hadad</b></td><td> <b>Faldi</b> </td><td> <b>Athailah</b></td></tr><tr><td><input style="margin-right: 5%; width: 40%;" name="persenPafras" type="text">%</td><td><input style="margin-right: 5%; width: 40%;" name="persenHadad" type="text">%</td><td><input style="margin-right: 5%; width: 40%;" name="persenFaldi" type="text">%</td><td><input style="margin-right: 5%; width: 40%;" name="persenAthailah" type="text">%</td></tr></tbody></table><a><b> Tanggal Bayar </b></a><input style="width: 5%; margin-left:1%;" placeholder="Tanggal" type="text" name="tanggal"><input style="width: 5%;  margin-left:1%;" placeholder="Bulan" type="text" name="bulan"><input style="width: 5%;margin-left:1%;" placeholder="Tahun" type="text" name="tahun"><br/><button name="button" value="SabunCuciPiring" type="submit" class="btn btn-primary" style="margin-top: 20px;">Masukkan Data</button></div></div></form>';
        }
        document.getElementById("Minyak").onclick = function () {
            document.getElementById("containerGantiGanti").innerHTML = '<form action="/tambah" method="post"><p style="margin-top: 20px;"> <b> Siapa yang bayar Minyak? </b></p><div><select class="form-select" name="siPembayar"><option value="Pafras">Pafras</option><option value="Hadad">Hadad</option><option value="Faldi">Faldi</option><option value="Athailah">Athailah</option></select><p style="margin-top: 20px;"> <b> Total Pembayaran Minyak</b></p><input style="margin-top: 20px;" type="text" name="totalBayar" class="form-control"><div><p style="margin-top: 20px;"> <b>Persentase Pembagian Minyak</b></p><table class="table" style="margin-bottom: 30px;"><tbody><tr><td> <b>Pafras</b> </td><td><b>Hadad</b></td><td> <b>Faldi</b> </td><td> <b>Athailah</b></td></tr><tr><td><input style="margin-right: 5%; width: 40%;" name="persenPafras" type="text">%</td><td><input style="margin-right: 5%; width: 40%;" name="persenHadad" type="text">%</td><td><input style="margin-right: 5%; width: 40%;" name="persenFaldi" type="text">%</td><td><input style="margin-right: 5%; width: 40%;" name="persenAthailah" type="text">%</td></tr></tbody></table><a><b> Tanggal Bayar </b></a><input style="width: 5%; margin-left:1%;" placeholder="Tanggal" type="text" name="tanggal"><input style="width: 5%;  margin-left:1%;" placeholder="Bulan" type="text" name="bulan"><input style="width: 5%;margin-left:1%;" placeholder="Tahun" type="text" name="tahun"><br/><button name="button" value="Minyak" type="submit" class="btn btn-primary" style="margin-top: 20px;">Masukkan Data</button></div></div></form>';
        }
        document.getElementById("Lainnya").onclick = function () {
            document.getElementById("containerGantiGanti").innerHTML = '<form action="/tambah" method="post"><p style="margin-top: 20px;"> <b> Bayar Apa?</b></p><input style="margin-top: 20px;" type="text" name="button" class="form-control"><p style="margin-top: 20px;"> <b> Siapa yang bayar? </b></p><div><select class="form-select" name="siPembayar"><option value="Pafras">Pafras</option><option value="Hadad">Hadad</option><option value="Faldi">Faldi</option><option value="Athailah">Athailah</option></select><p style="margin-top: 20px;"> <b> Total Pembayaran</b></p><input style="margin-top: 20px;" type="text" name="totalBayar" class="form-control"><div><p style="margin-top: 20px;"> <b>Persentase Pembagian</b></p><table class="table" style="margin-bottom: 30px;"><tbody><tr><td> <b>Pafras</b> </td><td><b>Hadad</b></td><td> <b>Faldi</b> </td><td> <b>Athailah</b></td></tr><tr><td><input style="margin-right: 5%; width: 40%;" name="persenPafras" type="text">%</td><td><input style="margin-right: 5%; width: 40%;" name="persenHadad" type="text">%</td><td><input style="margin-right: 5%; width: 40%;" name="persenFaldi" type="text">%</td><td><input style="margin-right: 5%; width: 40%;" name="persenAthailah" type="text">%</td></tr></tbody></table><a><b> Tanggal Bayar </b></a><input style="width: 5%; margin-left:1%;" placeholder="Tanggal" type="text" name="tanggal"><input style="width: 5%;  margin-left:1%;" placeholder="Bulan" type="text" name="bulan"><input style="width: 5%;margin-left:1%;" placeholder="Tahun" type="text" name="tahun"><br/><button type="submit" class="btn btn-primary" style="margin-top: 20px;">Masukkan Data</button></div></div></form>';
        }

        document.getElementById("cariDataa").onclick = function cariData() {

            var fromTanggal = document.getElementById("dariTanggal").value;
            var fromBulan = document.getElementById("dariBulan").value;
            var fromTahun = document.getElementById("dariTahun").value;
            var untilTanggal = document.getElementById("sampaiTanggal").value;
            var untilBulan = document.getElementById("sampaiBulan").value;
            var untilTahun = document.getElementById("sampaiTahun").value;

            document.getElementById("tableSemuaData").innerHTML = '<table id="tableSemuaData" class="table"><thead><tr><th scope="col">Si Pembayar</th><th scope="col">Bayar Apa?</th><th scope="col">Total Bayar</th><th scope="col">(%)Pafras</th><th scope="col">(%)Hadad</th><th scope="col">(%)Faldi</th><th scope="col">(%)Athailah</th><th scope="col">Waktu Bayar</th></tr></thead><tbody id="loopingDataSort"></tbody><thead><tr><th scope="col">Total Pengeluaran</th><th scope="col"></th><th scope="col" id="totalPengeluaran"></th><th scope="col"></th><th scope="col"></th><th scope="col"></th><th scope="col"></th><th scope="col"></th></tr></thead></table>';

            var xLooping = "";
            <% for (let DataBayar of data) { %>
                if (<%= DataBayar.tahun %> >= fromTahun && <%= DataBayar.bulan %> >= fromBulan && <%= DataBayar.tanggal %> >= fromTanggal) {
                    if (<%= DataBayar.tahun %> <= untilTahun && <%= DataBayar.bulan %> <= untilBulan && <%= DataBayar.tanggal %> <= untilTanggal) {
                        console.log(<%= DataBayar.bulan %>)

                        xLooping = xLooping + "<tr><th  scope=\"row\"><%= DataBayar.siPembayar %></th><td ><%= DataBayar.bayarApa %></td><td ><%= DataBayar.totalBayar %></td><td ><%= DataBayar.persenPafras %></td><td><%= DataBayar.persenHadad %></td><td><%= DataBayar.persenFaldi %></td><td><%= DataBayar.persenAthailah %></td><td><%= DataBayar.tanggal %>-<%= DataBayar.bulan %>-<%= DataBayar.tahun %></td></tr>";

                        document.getElementById("loopingDataSort").innerHTML = xLooping;

                        // document.getElementById("siPembayarr").innerHTML = '<%= DataBayar.siPembayar %>';
                        // document.getElementById("bayarApaa").innerHTML = '<%= DataBayar.bayarApa %>';
                        // document.getElementById("totalBayarr").innerHTML = '<%= DataBayar.totalBayar %>';
                        // document.getElementById("persenPafrass").innerHTML = '<%= DataBayar.persenPafras %>';
                        // document.getElementById("persenHadadd").innerHTML = '<%= DataBayar.persenHadad %>';
                        // document.getElementById("persenFaldi").innerHTML = '<%= DataBayar.persenFaldi %>';
                        // document.getElementById("persenAthailahh").innerHTML = '<%= DataBayar.persenAthailah %>';
                        // document.getElementById("tanggall").innerHTML = '<%= DataBayar.tanggal %>-<%= DataBayar.bulan %>-<%= DataBayar.tahun %>';
                    }
                }
            <% } %>
        }
    </script>
</body>

</html>